@import '../config/base.scss';

.AddUser {
  .icon-ok {
    @include icon-btn();

    font-size: 20px;
    margin-left: 5px;
    padding: 0;
    border-style: none;
  }

  form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 11px 16px;
    margin-left: -10px;

    &.selected {
      border-left: 2px solid $grey;
    }

    //styling react-select
    .Select {
      width: 100%;

      div {
        border-radius: 0;
        outline: none;
      }

      &.is-focused:not(.is-open) > .Select-control {
        box-shadow: none !important;
        border-color: lightgray;
      }

      //scrollbar for -webkit users
      .Select-menu::-webkit-scrollbar {
        width: 3px;
        background: rgba(0, 0, 0, 0.3)
      }

      .Select-menu::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.2)
      }

      .Select-menu::-webkit-scrollbar:horizontal {
        height: 3px;
      }

      .Select-placeholder {
        padding-left: 6px;
        color: grey;
      }

      .Select-option.is-focused {
        color: black;
        background: white;

        &:hover {
          background: rgba(0, 0, 0, 0.1);
        }
      }

      .Select-clear {
        margin-left: 10px;
      }
    }

    .Select--multi {
      .Select-input {
        margin-left: 0;

        input {
          @include input();
        }
      }

      .Select-value {
        margin: 3px 6px 3px 0;
        color: black;
        background-color: white;
        border: 1px solid $grey;
        border-radius: 0;

        &:last-of-type {
          margin-bottom: 0;
        }

        .Select-value-label {
          padding: 5px 8px;
          font-size: 10px;
        }
      }

      .Select-value-icon {
        border-right: 1px solid $grey;
        padding: 0 5px 1px;
        color: grey;

        &:hover {
          color: black;
          background: transparent;
        }
      }

      .Select-multi-value-wrapper {
        padding: 0 5px 0;
      }

      .Select-control {
        border-radius: 0;

        .is-focused {
          border-radius: 0;
        }
      }
    }

    .Select--multi .Select-value {
      margin: 4px 7px 3px 0;
      color: black;
      background-color: white;
      border: 1px solid $grey;
      border-radius: 0;

      .Select-value-label {
        padding: 5px 8px;
        font-size: 10px;
      }
    }
  }
}