@import '../config/base.scss';

.AddUser {
  .icon-ok {
    -webkit-appearance: initial;
    font-size: 20px;
    margin-left: 5px;
    padding: 0;
    color: grey;
    background-color: white;
    border-style: none;
    cursor: pointer;

    &:hover {
      color: $black;
    }

    &:focus {
      outline: none;
    }
  }

  form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 14px 15px;
    margin-left: -10px;

    &.selected {
      border-left: 2px solid $grey;
    }

    //styling react-select
    .Select{
      width: 100%;

      div {
        border-radius: 0;
        outline: none;
      }
    }

    .Select--multi .Select-input {
      font-family: 'Roboto', sans-serif !important;
      font-weight: 300 !important;
      margin-left: 5px;
    }

    .Select--multi .Select-value-icon {
      border-right: 1px solid $grey;
      padding: 0 5px 1px;
      color: grey;

      &:hover {
        color: black;
        background: transparent;
      }
    }

    .Select.is-focused:not(.is-open) > .Select-control {
      box-shadow: none !important;
      border-color: lightgray;
    }

    .Select-placeholder {
      padding-left: 5px;
      color: lightgray;
    }

    .Select-option.is-focused {
      color: black;
      background: white;

      &:hover {
        background: rgba(0,0,0,0.1);
      }
    }

    .Select-clear {
      margin-left: 10px;
    }

    .Select--multi .Select-value {
      margin-top: 6px;
      color: black;
      background-color: white;
      border: 1px solid $grey;
      border-radius: 0;

      .Select-value-label {
        padding: 2px 5px;
        font-size: 10px;
      }
    }

    .Select-control {
      border-radius: 0;

      .is-focused {
        border-radius: 0;
      }
    }
  }
}