body {
  min-width: 769px; }
  body .App {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 20px 0; }
    body .App a {
      text-decoration: none;
      color: black; }
