@import '../config/base.scss';

body {
  min-width: $breakpoint-md;

  .App {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
    margin: 20px 0;

    a {
        text-decoration: none;
        color: black;
    }
  }
}

