.Body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 40px);
  padding: 0 0 0 25px;
  flex-grow: 1;
  max-width: 1100px; }
  .Body h2 {
    margin-top: 7px; }
  .Body .header .channel-users {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 10px; }
    .Body .header .channel-users .channel-user {
      margin: 0 7px 7px 0;
      padding: 6px 8px;
      border: 1px solid rgba(0, 0, 0, 0.5);
      word-wrap: break-word; }
      .Body .header .channel-users .channel-user.admin {
        background: lightgray; }
  .Body .send-it {
    padding-bottom: 25px;
    padding-right: 25px; }
    .Body .send-it form {
      display: flex;
      align-items: center; }
      .Body .send-it form input {
        font-family: 'Roboto', sans-serif !important;
        font-weight: 300 !important;
        margin: 4px 0 5px;
        padding: 7px 0 7px 5px;
        border: 1px solid lightgray;
        width: 100%;
        margin: 0; }
        .Body .send-it form input:focus {
          outline: none;
          border-color: grey; }
      .Body .send-it form .icon-chat {
        -webkit-appearance: initial;
        color: grey;
        background-color: transparent;
        cursor: pointer;
        padding: 5px;
        font-size: 21px; }
        .Body .send-it form .icon-chat:hover {
          color: black; }
        .Body .send-it form .icon-chat:focus {
          outline: none; }
