.Channel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  list-style: none; }
  .Channel:hover {
    cursor: pointer;
    margin-left: -10px;
    border-left: 2px solid rgba(0, 0, 0, 0.5);
    color: black;
    padding-left: 23px; }
  .Channel span {
    cursor: text; }
  .Channel i {
    font-size: 20px; }
    .Channel i:hover {
      color: indianred; }
