.Channel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px; }
  .Channel:hover {
    background-color: white;
    cursor: pointer;
    color: rgba(29, 11, 11, 0.67);
    font-weight: 600; }
  .Channel li {
    list-style: none; }
  .Channel i {
    font-size: 20px; }
    .Channel i:hover {
      color: indianred; }
