@import '../config/base.scss';

.Channel {
  @include flex-between-center();
  padding: 10px 15px;
  list-style: none;

  &:hover, &.selected {
    cursor: pointer;
    margin-left: -10px;
    border-left: 2px solid $grey;
    color: $black;
    padding-left: 23px;
  }

  span {
    cursor: text;
  }

  i {
    font-size: 20px;

    &:hover {
      color: $buttons;
    }
  }
}