@import '../config/base.scss';
.channel {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-right: 14px;

  & > a {
    flex-grow: 1;
  }

  i {
    font-size: 20px;
    color: grey;
    cursor: pointer;

    &:hover {
      color: $buttons;
    }

    &.adding {
      &:before {
        transform: rotate(45deg);
      }
    }
  }

  .Channel {
    padding: 10px 15px;
    list-style: none;

    &:hover, &.selected {
      cursor: pointer;
      margin-left: -10px;
      border-left: 2px solid $grey;
      color: $black;
      padding-left: 23px;
    }

    span {
      cursor: text;
    }
  }
}