.Channels {
  position: relative;
  height: calc(100vh - 40px);
  min-width: 330px;
  max-width: 600px;
  padding-left: 20px;
  color: rgba(0, 0, 0, 0.5);
  overflow-y: scroll; }
  .Channels .channels-manage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 11px; }
    .Channels .channels-manage h1 {
      float: left;
      margin: 0;
      font-size: 30px;
      color: black; }
    .Channels .channels-manage i {
      cursor: pointer;
      font-size: 35px;
      color: indianred; }
      .Channels .channels-manage i:before {
        margin: 0; }
      .Channels .channels-manage i:hover {
        color: black; }
  .Channels ul {
    min-height: calc(100vh - 173px);
    margin: 0;
    padding: 0; }
    .Channels ul .AddUser .icon-ok {
      -webkit-appearance: initial;
      color: grey;
      background-color: transparent;
      cursor: pointer;
      font-size: 20px;
      margin-left: 5px;
      padding: 0;
      border-style: none; }
      .Channels ul .AddUser .icon-ok:hover {
        color: black; }
      .Channels ul .AddUser .icon-ok:focus {
        outline: none; }
    .Channels ul .AddUser form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px 11px 16px;
      margin-left: -10px; }
      .Channels ul .AddUser form.selected {
        border-left: 2px solid rgba(0, 0, 0, 0.5); }
      .Channels ul .AddUser form .Select {
        width: 100%; }
        .Channels ul .AddUser form .Select div {
          border-radius: 0;
          outline: none; }
        .Channels ul .AddUser form .Select.is-focused:not(.is-open) > .Select-control {
          box-shadow: none !important;
          border-color: lightgray; }
        .Channels ul .AddUser form .Select .Select-control,
        .Channels ul .AddUser form .Select .Select-clear-zone,
        .Channels ul .AddUser form .Select .Select-arrow-zone,
        .Channels ul .AddUser form .Select .Select-arrow {
          position: static; }
        .Channels ul .AddUser form .Select .Select-menu::-webkit-scrollbar {
          width: 3px;
          background: rgba(0, 0, 0, 0.3); }
        .Channels ul .AddUser form .Select .Select-menu::-webkit-scrollbar-thumb {
          background: rgba(0, 0, 0, 0.2); }
        .Channels ul .AddUser form .Select .Select-menu::-webkit-scrollbar:horizontal {
          height: 3px; }
        .Channels ul .AddUser form .Select .Select-placeholder {
          padding-left: 6px;
          color: grey; }
        .Channels ul .AddUser form .Select .Select-option.is-focused {
          color: black;
          background: white; }
          .Channels ul .AddUser form .Select .Select-option.is-focused:hover {
            background: rgba(0, 0, 0, 0.1); }
        .Channels ul .AddUser form .Select .Select-clear {
          margin-left: 10px; }
      .Channels ul .AddUser form .Select--multi .Select-input {
        margin-left: 0; }
        .Channels ul .AddUser form .Select--multi .Select-input input {
          font-family: 'Roboto', sans-serif !important;
          font-weight: 300 !important; }
      .Channels ul .AddUser form .Select--multi .Select-value {
        margin: 3px 6px 3px 0;
        color: black;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 0; }
        .Channels ul .AddUser form .Select--multi .Select-value:last-of-type {
          margin-bottom: 0; }
        .Channels ul .AddUser form .Select--multi .Select-value .Select-value-label {
          padding: 5px 8px;
          font-size: 10px; }
      .Channels ul .AddUser form .Select--multi .Select-value-icon {
        border-right: 1px solid rgba(0, 0, 0, 0.5);
        padding: 0 5px 1px;
        color: grey; }
        .Channels ul .AddUser form .Select--multi .Select-value-icon:hover {
          color: black;
          background: transparent; }
      .Channels ul .AddUser form .Select--multi .Select-multi-value-wrapper {
        padding: 0 5px 0; }
      .Channels ul .AddUser form .Select--multi .Select-control {
        border-radius: 0; }
        .Channels ul .AddUser form .Select--multi .Select-control .is-focused {
          border-radius: 0; }
      .Channels ul .AddUser form .Select--multi .Select-value {
        margin: 4px 7px 3px 0;
        color: black;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 0; }
        .Channels ul .AddUser form .Select--multi .Select-value .Select-value-label {
          padding: 5px 8px;
          font-size: 10px; }

.Channels::-webkit-scrollbar {
  width: 3px;
  background: rgba(0, 0, 0, 0.3); }

.Channels::-webkit-scrollbar-thumb {
  background: indianred; }
