@import '../config/base.scss';

.ChannelEdited {
  @include flex-between-center();
  padding: 0 15px 0 8px;
  list-style: none;

  &.selected {
    cursor: pointer;
    margin-left: -10px;
    border-left: 2px solid rgba(0, 0, 0, 0.5);
    color: black;
    padding-left: 17px;
  }

  input.name {
    width: 100%;
    @include input-form();
  }

  & > div {
    min-width: 56px;
    margin-left: 5px;

    i {
      font-size: 20px;
      cursor: pointer;
      color: $grey;

      &.icon-cancel:hover {
        color: $buttons;
      }

      &.icon-ok:hover {
        color: $black;
      }
    }
  }
}