@import '../config/base.scss';

.Channels {
  height: calc(100vh - 40px);
  min-width: 260px;
  padding-left: 20px;
  color: $grey;
  overflow-y: scroll;

  .channels-manage {
    @include flex-between-center();
    padding-right: 11px;

    h1 {
      float: left;
      margin: 0;
      font-size: 30px;
      color: $black;
    }

    i {
      cursor: pointer;
      font-size: 35px;
      color: $buttons;

      &:before {
        margin: 0;
      }

      &:hover {
        color: $black;
      }
    }
  }

  ul {
    min-height: calc(100vh - 100px);
    margin: 0;
    padding: 0;
  }
}

//scrollbar for -webkit users

.Channels::-webkit-scrollbar {
  width: 3px;
  background: $grey;
}

.Channels::-webkit-scrollbar-thumb {
  background: $buttons;
}