.Channels {
  height: 100vh;
  width: 300px;
  overflow-y: scroll;
  background-color: #128b77;
  color: #dddddd; }
  .Channels i {
    cursor: pointer;
    color: #c0c0c0; }
    .Channels i:hover {
      color: #dddddd; }
  .Channels .channels--manage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 15px 10px; }
    .Channels .channels--manage h1 {
      font-size: 20px;
      margin: 0;
      text-transform: uppercase;
      font-weight: 400; }
    .Channels .channels--manage i {
      border: 2px solid;
      border-radius: 50%;
      font-weight: 300; }
      .Channels .channels--manage i:before {
        margin: 0;
        padding: 1.5px; }
  .Channels ul {
    padding: 0;
    margin: 0; }
