.ChannelEdited {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 15px 0 8px;
  list-style: none; }
  .ChannelEdited input.name {
    width: 150px;
    padding: 10px 0 10px 5px;
    border: 2px solid rgba(0, 0, 0, 0.5); }
  .ChannelEdited i {
    font-size: 20px;
    cursor: pointer; }
    .ChannelEdited i.icon-cancel:hover {
      color: indianred; }
    .ChannelEdited i.icon-ok:hover {
      color: black; }
