.Channels {
  min-width: 260px;
  color: #ddd;
  overflow-y: scroll;
  height: calc(100vh - 40px); }
  .Channels .channels--manage {
    padding: 0 15px 0 0;
    position: absolute;
    top: 22px;
    left: 10px; }
    .Channels .channels--manage h1 {
      font-size: 30px;
      color: rgba(29, 11, 11, 0.67);
      margin: 0;
      float: left; }
    .Channels .channels--manage i {
      cursor: pointer;
      position: relative;
      left: 88px;
      top: -1px;
      float: left;
      font-size: 35px;
      color: indianred; }
      .Channels .channels--manage i:hover {
        font-size: 39px;
        left: 85px;
        top: -1px; }
  .Channels ul {
    margin: 25px 0 0;
    padding: 25px 0;
    background-color: rgba(218, 152, 139, 0.87); }

.Channels::-webkit-scrollbar {
  width: 3px;
  background-color: #ccc; }

.Channels::-webkit-scrollbar-thumb {
  background: rgba(192, 127, 110, 0.95); }
