@import '../config/base.scss';

.Channels {
  height: calc(100vh - 40px);
  min-width: 280px;
  padding-left: 20px;
  color: $grey;
  overflow-y: scroll;

  .channels-manage {
    @include flex-between-center();
    padding-right: 11px;

    h1 {
      float: left;
      margin: 0;
      font-size: 30px;
      color: $black;
    }

    i {
      cursor: pointer;
      font-size: 35px;
      color: $buttons;

      &:before {
        margin: 0;
      }

      &:hover {
        color: $black;
      }
    }
  }

  ul {
    min-height: calc(100vh - 100px);
    margin: 0;
    padding: 0;

    .AddUser {
      .icon-ok {
        -webkit-appearance: initial;
        cursor: pointer;
        font-size: 20px;
        margin-left: 5px;

        &.icon-ok:hover {
          color: $black;
        }
      }

      form {
        padding: 0 15px 14px 15px;
        margin-left: -10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &.selected {
          border-left: 2px solid $grey;
        }

        .Select{
          width: 100%;
        }

        .Select div {
          border-radius: 0;
          outline: none;
        }

        .Select--multi .Select-input {
          margin-left: 5px;
          font-family: 'Roboto', sans-serif !important;
          font-weight: 300 !important;
        }

        .Select.is-focused:not(.is-open) > .Select-control {
          box-shadow: none !important;
          border-color: lightgray;
        }

        .Select-placeholder {
          color: black;
          padding-left: 5px;
        }

        .Select-option.is-focused {
          background: white;
          color: black;

          &:hover {
            background: rgba(0,0,0,0.1);
          }
        }

        .Select--multi .Select-value-icon {
          border-right: 1px solid $grey;
          padding: 0 5px 1px;
          position: relative;
          top: -1px;
          color: grey;

          &:hover {
            color: black;
            background: white;
          }
        }

        .Select-clear {
          display: none;
        }

        .Select--multi .Select-value {
          border-radius: 0;
          color: black;
          background-color: white;
          border: 1px solid black;
          margin-top: 6px;

          .Select-value-label {
            font-size: 10px;
            padding: 2px 5px;
          }
        }

        .Select-control {
          border-radius: 0;

          .is-focused {
            border-radius: 0;
          }
        }
      }
    }
  }
}

//scrollbar for -webkit users

.Channels::-webkit-scrollbar {
  width: 3px;
  background: rgba(0, 0, 0, 0.3)
}

.Channels::-webkit-scrollbar-thumb {
  background: $buttons;
}