@import '../config/base.scss';

form.Details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 250px;
  height: 125px;
  margin-bottom: 25px;


  input {
    @include font();
    @include input-form();
    width: calc(100% - 8px);

  }

  button.icon-ok {
    @include icon-btn();
    -webkit-appearance: button-bevel;
    border: none;
  }
}