@import '../config/base.scss';

.Login {
  @include full-page();

  h1{
    margin-top: 0;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
  }
}