.Login {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300 !important; }
  .Login .Loader__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; }
  .Login .left-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px; }
    .Login .left-col h1 {
      margin-top: 0; }
  .Login .right-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
    border-left: 1px solid rgba(0, 0, 0, 0.5); }
    .Login .right-col form {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 100px;
      padding: 30px 0; }
      .Login .right-col form input {
        font-family: 'Roboto', sans-serif !important;
        font-weight: 300 !important;
        margin: 4px 0 5px;
        padding: 7px 0 7px 5px;
        border: 1px solid lightgray; }
        .Login .right-col form input:focus {
          outline: none;
          border-color: grey; }
      .Login .right-col form button {
        -webkit-appearance: initial;
        color: grey;
        background-color: transparent;
        cursor: pointer;
        border: 1px solid lightgray;
        padding: 7px; }
        .Login .right-col form button:hover {
          color: black; }
        .Login .right-col form button:focus {
          outline: none; }
        .Login .right-col form button:hover {
          border-color: grey; }
