@import '../config/base.scss';

.Login {
  @include font();

  .Loader__content {
    @include full-page();
  }

  .left-col {
    @include full-page-left-col();
    h1{
      margin-top: 0;
    }
  }

  .right-col {
    @include full-page-right-col();

    form {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 100px;
      padding: 30px 0;

      input {
        @include input-form();
      }

      button {
        @include btn-primary();
      }
    }
  }
}