@import '../config/base.scss';


.Profile {
  display: flex;
  justify-content: center;
  width: 50px;
  border-left: 2px solid $grey;
  padding: 5px 0;

  i.icon-user {
    color: $grey;
    font-size: 27px;
  }
}