@import '../config/base.scss';

.Settings {
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
  padding-top: 10px;

  i.icon-user {
    color: $grey;
    font-size: 27px;

    &:hover {
      color: black;
    }
  }
}