{
  "extends": "airbnb",
  "rules": {
    "comma-dangle": ["warn", "never"],
    "semi": ["warn", "never"],
    "import/prefer-default-export": 0,
    "no-underscore-dangle": 0,
    "react/forbid-prop-types": "warn",
    "max-len": ["warn", { "code": 150, "ignoreComments": true }],
    "linebreak-style": 0
  },
  "env": {
    "browser": true,
    "jest": true
  }
}