{
  "extends": "airbnb",
  "rules": {
    "comma-dangle": ["warn", "never"],
    "semi": ["warn", "never"],
    "import/prefer-default-export": 0,
    "no-underscore-dangle": 0,
    "react/forbid-prop-types": "warn",
    "max-len": ["warn", { "code": 150, "ignoreComments": true }]
  },
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": [
    "react"
  ],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "15.6.1"
    }
  }
}